*
{
    padding: 0em;
    margin: 0;
    box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	border-color:white;
	
}
/* I'm partial to an essentially linear scale for font size increases.*/
h1
{
	font-size:2.5em;
}

h2
{
	font-size:2.0 em;
}
h3
{
	font-size:1.5em;
}
h4
{
	font-size:1.25 em;
}

.wrapper
{
}

.masthead:before /* this technique allows for a semi-transparent background image. */
{
	content:" ";
	display:block;
	position:absolute;
	left:0;
	top: 0;
	width:100%;
	height:200px;
	background: url(http://lorempixel.com/300/200/cats/) no-repeat center;

	z-index:1;
	opacity:0.5;
	background-size:cover;
}
.masthead
{
	opacity:1;
	position:relative;
	overflow:hidden;
	display:block;
	width:100%;
	height: 200px;
	text-align:center;
	background:rgba(190,0,204,0.4);
	z-axis: 0;
	border-style:solid;
	border-width:0.3em;
	line-height: 1200%;
	text-shadow: 0px 0px 0.5px #000;
	color:rgba(0,0,0,0.9);
	/* The text-shadow is here to claw back a bit of opacity in the title. */
}

.mainnav
{
	width:100%;
	border-width:0.1em;
	border-style:solid;
	text-decoration: none;

}
.mainnav ul
{
	width:100%;
	text-decoration: none;
}
.mainnav li
{
	float:left;
	display:inline-block;
	text-decoration: none;
	text-align:center;
	background-color:rgba(243,76,255,0.2);
	line-height:200%;
	width:25%;
	border-width:0.2em;
	border-color:white;
	border-style:solid;
}

.mainnav:before, .mainnav:after
{
	content:"";
	display:table;
}

.mainnav li:hover
{
	background-color:rgba(119,0,127,0.3);
	text-decoration: none;
}

a
{
	text-decoration:none;
	color:#000;
}


.content
{
	width:100%;
/*	clear:both;*/

	border-width:0.3em;
	border-style:solid;
	background-color: rgba(237,0,255,0.3);
	padding: 0 1%;
}

.content h3
{
	margin-top: 1%;
}

.content p
{
	margin-bottom: 2%;
	line-height:120%;
}

.side
{
	width:100%;
	float:clear;
	background-color: rgba(237,0,255,0.3);
	margin-bottom: 2%;
	line-height:120%;
	border-width:0.3em;
	border-style:solid;
}

.side p
{
	margin-bottom: 2%;
	line-height:120%;
}

.footer
{
	clear:both;
	width:100%;
	background-color:rgba(121,38,127,0.3);
	border-width:0.3em;
	border-style:solid;
}

.left
{
	
	float:left;
	width:50%;
	display:inline;
	margin-right: 1%;
	margin-top: .25em;
}

.right
{
	float:right;
	width: 50%;
	display:inline;
	margin-left: 1%;
	margin-top: .25em;
}


@media all and (min-width: 35em) and (max-width: 60em)
{
	.content
	{
		width:63%;
		float:left;
		padding-right:2%;
		border-style: solid;
		border-width: 0.3em;
	}
	
	.side
	{
		width:37%;
		float:left;
		background-color:none;
		border-width:0.3 em;
		padding-left:1%;
		padding-right:1%;
	}
	.side p
	{
		font-size:80%;
		line-height:130%;
	}
	
	.side h3
	{
		line-height: 130%;
	}

	.content:before, .content:after
	{
		content:"";
		display:table;
	}
	.content:after
	{
		clear:both;
	}
}

@media all and (min-width: 60em)
{

	.mainnav
	{
		width:25%;
		float:left;
		background:url(img/catpeer.jpg);
		padding-bottom: 1500px;
		background-repeat:no-repeat;
		background-position: 0 150px;
		background-size: 100% 100%;
		height:100%;
	}
	
	.mainnav ul
	{
		opacity:1.0;
	}
	.mainnav li
	{
		display:block;
		width:100%;
		margin:0;
		font-weight:bold;		
	}

	
	.content
	{
		float:left;
		width:50%;
		column-count:2;
		column-gap:.5%;
		column-width:49.75%;
		-webkit-column-count:2;
		-webkit-column-gap:.5%;
		-webkit-column-width:49.75%;
		-moz-column-count:2;
		-moz-column-gap:.5%;
		-moz-column-width:49.75%;
		padding: 0 0.5em 0 0.5em;
		border-style: solid;
		border-width: 0.3em;
	}
	
	/* columns in above.*/
	.side
	{
		float:left;
		width:25%;
		padding-left: 1%;
		padding-right: 1%;
	}
	.side p
	{
		font-size:80%;
	}
	.side h3
	{
		line-height: 130%;
	}
}